<!DOCTYPE html>
<html>
<head>
    <title>Find Blood - GNB</title>
    <link rel="stylesheet"
href="{{ url_for('static',filename='css/style.css')}}">
</head>
<body>

<h2>Find Blood</h2>

<form action="/search" method="POST">
    <select name="search">
        <option value="A+">A+</option>
        <option value="A-">A-</option>
        <option value="B+">B+</option>
        <option value="B-">B-</option>
        <option value="O+">O+</option>
        <option value="O-">O-</option>
        <option value="AB+">AB+</option>
        <option value="AB-">AB-</option>
    </select>

    <button type="submit">Search</button>
</form>

<br>
<a href="/">🏠 Home</a>

</body>
</html>