<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donor Registration - GNB</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<nav>
    <div class="logo">🩸 GNB</div>
</nav>

<h1 style="text-align:center; color:#b71c1c; margin-top:30px;">
    Donor Registration
</h1>

<form class="form-box" action="/register" method="POST">

    <input type="text" name="name" placeholder="Full Name">

    <input type="number" name="age" placeholder="Age">

<select name="blood_group">
    <option>Select Blood Group</option>
    <option>A+</option>
    <option>A-</option>
    <option>B+</option>
    <option>B-</option>
    <option>O+</option>
    <option>O-</option>
    <option>AB+</option>
    <option>AB-</option>
</select>

    <input type="text" name="phone" placeholder="Phone Number">

    <button type="submit">Register</button>

</form>
<script src="script.js"></script>
</body>
</html>